.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

.center {
	-fx-alignment: center;
}

.right {
	-fx-alignment: center-right;
}

.tab-content-area {
	-fx-background-color: #93cddd;
}

.tab-header-background {
	-fx-background-color: #93cddd;
	-fx-border-color: #b5b5b5;
	-fx-border-style: hidden hidden solid hidden;
}

.tab {
    -fx-border-color: #b5b5b5;
    -fx-border-width: 2;
    -fx-border-radius: 5 5 0 0;
    -fx-border-insets: 0 2 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-background-insets: 0 2 0 0;
	-fx-focus-color: transparent;
	-fx-text-fill: white; 
}

.tab:selected {
    -fx-border-color: black;
}

.vbox-content {
	-fx-border-color: #b5b5b5;
	-fx-padding: 10px;
}

AppTableView {
	-fx-border-color: #b5b5b5;
}

.table-view {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableViewSkin";
    -fx-background-color: -fx-box-border, #ffffcc;
    -fx-background-insets: 0,1;
    -fx-padding: 1; /* 0.083333em; */
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: #bbbbbb;
}

.table-row-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableRowSkin";
    -fx-background-color: -fx-table-cell-border-color, #ffffcc;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(#ffffcc,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, #ffffcc;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(#ffffcc,-5%);
    -fx-background-insets: 0, 1, 2;
}

.table-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: black;
}

.controls {
	-fx-padding: 5;
	-fx-border-style: hidden solid hidden solid;
	-fx-border-color: #b5b5b5;
}

.control-button {
	-fx-pref-width: 30;
	-fx-pref-height: 30;
    -fx-background-radius: 5;
}

/* COLORS */

#companyExpensesTab {
	-fx-background-color: #0000cc;
}

#companyExpensesTab .tab-label {
    -fx-text-fill: white;
}

#personalExpensesTab {
	-fx-background-color: #0099cc;
}

#personalExpensesTab .tab-label {
    -fx-text-fill: white;
}

#officeMaterialsTab {
	-fx-background-color: #fc9ee3;
}

#dieselTab {
	-fx-background-color: #66ffcc;
}

#dieselL300Tab,
#truckRepairL300Tab {
	-fx-background-color: #386598;
}

#dieselL300Tab .tab-label,
#truckRepairL300Tab .tab-label {
	-fx-text-fill: white;
}

#dieselNkr420Tab,
#truckRepairNkr420Tab {
	-fx-background-color: #215867;
}

#dieselNkr420Tab .tab-label,
#truckRepairNkr420Tab .tab-label {
	-fx-text-fill: white;
}

#truckRepairTab {
	-fx-background-color: #cc66ff;
}

#utilitiesTab {
	-fx-background-color: #fac090;
}

#companyUtilitiesMeralcoTab,
#personalUtilitiesMeralcoTab {
	-fx-background-color: #953735;
}

#companyUtilitiesMeralcoTab .tab-label,
#personalUtilitiesMeralcoTab .tab-label {
	-fx-text-fill: white;
}

#companyUtilitiesMayniladTab,
#personalUtilitiesMayniladTab {
	-fx-background-color: #6f236b;
}

#companyUtilitiesMayniladTab .tab-label,
#personalUtilitiesMayniladTab .tab-label {
	-fx-text-fill: white;
}

#companyUtilitiesTelephoneTab,
#personalUtilitiesCableTab {
	-fx-background-color: #6600ff;
}

#companyUtilitiesTelephoneTab .tab-label,
#personalUtilitiesCableTab .tab-label {
	-fx-text-fill: white;
}

#companySalariesTab {
	-fx-background-color: #ff3399;
}

#governmentDutiesTab {
	-fx-background-color: #d99795;
}

#governmentBenefitsTab {
	-fx-background-color: #ffff99;
}

#repairTab {
	-fx-background-color: #92d050;
}

#companyMiscellaneousTab {
	-fx-background-color: #dbeef3;
}

#withdrawalsTab {
	-fx-background-color: #fb9fae;
}

#personalDieselTab {
	-fx-background-color: #ddd9c3;
}

#groceriesTab {
	-fx-background-color: #ecb184;
}

#personalUtilitiesTab {
	-fx-background-color: #fc9ee3;
}

#personalSalariesTab {
	-fx-background-color: #b6dde8;
}

#personalMiscellaneousTab {
	-fx-background-color: #fef4d0;
}

.workArea {
	-fx-background-color: #ffffcc;
}

/* COLORS */

.category1Tab-bgColor1 {
	-fx-background-color: #0000cc;
}

.category1Tab-bgColor2 {
	-fx-background-color: #0099cc;
}

.category1Tab-bgColor1 .tab-label,
.category1Tab-bgColor2 .tab-label {
    -fx-text-fill: white;
}

.category2Tab-bgColor1 {
	-fx-background-color: #fc9ee3;
}

.category2Tab-bgColor2 {
	-fx-background-color: #66ffcc;
}

#dieselL300Tab,
#truckRepairL300Tab {
	-fx-background-color: #386598;
}

#dieselL300Tab .tab-label,
#truckRepairL300Tab .tab-label {
	-fx-text-fill: white;
}

#dieselNkr420Tab,
#truckRepairNkr420Tab {
	-fx-background-color: #215867;
}

#dieselNkr420Tab .tab-label,
#truckRepairNkr420Tab .tab-label {
	-fx-text-fill: white;
}

#truckRepairTab {
	-fx-background-color: #cc66ff;
}

#utilitiesTab {
	-fx-background-color: #fac090;
}

#companyUtilitiesMeralcoTab,
#personalUtilitiesMeralcoTab {
	-fx-background-color: #953735;
}

#companyUtilitiesMeralcoTab .tab-label,
#personalUtilitiesMeralcoTab .tab-label {
	-fx-text-fill: white;
}

#companyUtilitiesMayniladTab,
#personalUtilitiesMayniladTab {
	-fx-background-color: #6f236b;
}

#companyUtilitiesMayniladTab .tab-label,
#personalUtilitiesMayniladTab .tab-label {
	-fx-text-fill: white;
}

#companyUtilitiesTelephoneTab,
#personalUtilitiesCableTab {
	-fx-background-color: #6600ff;
}

#companyUtilitiesTelephoneTab .tab-label,
#personalUtilitiesCableTab .tab-label {
	-fx-text-fill: white;
}

#companySalariesTab {
	-fx-background-color: #ff3399;
}

#governmentDutiesTab {
	-fx-background-color: #d99795;
}

#governmentBenefitsTab {
	-fx-background-color: #ffff99;
}

#repairTab {
	-fx-background-color: #92d050;
}

#companyMiscellaneousTab {
	-fx-background-color: #dbeef3;
}

#withdrawalsTab {
	-fx-background-color: #fb9fae;
}

#personalDieselTab {
	-fx-background-color: #ddd9c3;
}

#groceriesTab {
	-fx-background-color: #ecb184;
}

#personalUtilitiesTab {
	-fx-background-color: #fc9ee3;
}

#personalSalariesTab {
	-fx-background-color: #b6dde8;
}

#personalMiscellaneousTab {
	-fx-background-color: #fef4d0;
}
